body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.messageHead {
  padding: 8px 8px 0;
  height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
.messageBlock {
  border: 3px solid #000;
  border-radius: 15px;
  max-width: 60%;
  padding: 5px;
  margin-top: 5px;
  background-color: #f8f863;
}
.messageBlockBot {
  margin-left: 0;
  margin-right: auto;
  background-color: #b2aeff;
}
.messageDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-height: 80%;
  overflow-y: auto;
  margin-left: 32%;
  width: 68%;
}
.messageTime {
  text-align: end;
  font-size: 10px;
  color: #757171;
}

.messageFutter {
  padding: 20px;
  position: sticky;
  top: 80%;
  background: #d2f5e7;
  border-radius: 0 0 25px 25px;
  display: flex;
  justify-content: space-evenly;
}
