.chatListDiv {
  width: 30%;
  height: 400px;
  position: absolute;
  top: 60px;
  background: #baffdd;
}
.photo {
  height: 50px;
  width: 50px;
  background: #3f16c6;
  border-radius: 25px;
  margin: 10px;
}
.photoText {
  line-height: 5px;
}
.chatListPhoto {
  display: flex;
}
